<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body bgcolor="#ffe4b5">
<h1 align="center" style="color: saddlebrown; margin-top: 100px">I am Groot</h1>
<p class="aligncenter">
    <img src="https://img.championat.com/s/1350x900/news/big/i/s/shou-pro-malysha-gruta-iz-strazhej-galaktiki-startuet-10-avgusta_16544972181094700532.jpg" alt="изображение в центре параграфа" />
</p>

<style>
.aligncenter {
    text-align: center;
}

</style>

<form action="{% url 'reverse'%}">
    <textarea cols="50" rows="10" name="usertext;" style="margin-left: 500px; margin-top: 150px; border-radius: 30px; background: linear-gradient(135deg, rgba(91,51,26,1) 1%,rgba(91,51,26,0.88) 17%,rgba(157,202,26,0.65) 48%,rgba(166,221,26,0.68) 52%,rgba(90,206,12,1) 100%);
"></textarea>
    <br><br>
    <input type="submit" value="Нажми сюда!" style="background: forestgreen; border-radius: 10px; margin-left: 650px;">
</form>


</body>
</html>